:root {
  /* colors */
  --primary-color: #dfdfe2;
  --secondary-color: #ffffff;
  --app-background-color: #4d4d62;
  --background-color: #1b1b32;
  --foreground-color: #3b3b4f;
  --highlight-color: #f1be32;

  /* font sizes */
  --root-font-size: 16px;
  font-size: var(--root-font-size);

  /* font-families */
  --font-headline: "Roboto Mono", monospace;
  --font-family: "Lato", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.musicPlayer body {
  background-color: var(--app-background-color);
  color: var(--primary-color);
  font-family: var(--font-family);
}

.musicPlayer h1 {
  font-size: 1.125rem;
  line-height: 1.6;
}

.musicPlayer h2 {
  font-size: var(--root-font-size);
}

.musicPlayer ul {
  margin: 0;
}

.musicPlayer .container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
}

.musicPlayer .player,
.musicPlayer .playlist {
  width: 450px;
  background-color: var(--background-color);
  border: 3px solid var(--foreground-color);
}

.musicPlayer .player {
  height: 260px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.musicPlayer .playerBar,
.musicPlayer .playlistBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  width: 100%;
  height: 30px;
  background-color: var(--foreground-color);
}

.musicPlayer .parallelLines {
  display: flex;
  flex-wrap: wrap;
  row-gap: 6px;
  padding: 0 5px;
}

.musicPlayer .parallelLines > div {
  height: 2px;
  width: 100%;
  min-width: 75px;
  background-color: var(--highlight-color);
}

.musicPlayer .fccTitle {
  color: var(--secondary-color);
  margin: 0 4px;
  font-family: var(--font-headline);
  white-space: nowrap;
}

.musicPlayer .playlistTitle {
  color: var(--secondary-color);
  margin: 0 10px;
  font-family: var(--font-headline);
}

.musicPlayer .playerContent {
  display: flex;
  background-color: var(--foreground-color);
  width: 430px;
  height: 200px;
  column-gap: 13px;
  align-items: center;
  justify-content: center;
}

.musicPlayer #playerAlbumArt {
  background-color: var(--secondary-color);
  border: 6px solid var(--background-color);
}

.musicPlayer #playerAlbumArt img {
  width: 150px;
  display: block;
}

.musicPlayer .playerDisplay {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 14px;
  background-color: var(--background-color);
  height: 153px;
  width: 226px;
}

.musicPlayer .playerDisplay-song-artist {
  height: 80px;
}

.musicPlayer .playerButtons svg {
  fill: var(--primary-color);
}

.musicPlayer .playing > svg {
  fill: var(--highlight-color);
}

.musicPlayer .playerButtons {
  display: flex;
  justify-content: space-around;
}

.musicPlayer button {
  background: transparent;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
  font-size: var(--root-font-size);
  outline-color: var(--highlight-color);
  text-align: center;
}

.musicPlayer .playlistSong {
  outline-color: var(--highlight-color);
}

.musicPlayer .playlist li:not(:last-child) {
  border-bottom: 1px solid var(--background-color);
}

.musicPlayer button:focus,
.musicPlayer .playlistSong:focus {
  outline-style: dashed;
  outline-width: 2px;
}

/* Playlist */
.musicPlayer .playlist {
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.musicPlayer #playlistSongs {
  width: 430px;
  height: 100%;
  background-color: var(--foreground-color);
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 8px 9px;
  visibility: visible;
  justify-content: start;
  list-style: none;
}

.musicPlayer .playlistSong {
  display: flex;
  height: 55px;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

[aria-current="true"] {
  background-color: var(--background-color);
}

[aria-current="true"] p {
  color: var(--highlight-color);
}

.musicPlayer .playlistSongInfo {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  column-gap: 7px;
  padding: 5px 0;
  font-family: var(--font-family);
}

.musicPlayer #playerSongTitle,
.musicPlayer #playerSongArtist {
  margin: 0;
}

.musicPlayer #playerSongArtist {
  color: var(--highlight-color);
  font-size: 0.75rem;
}

.musicPlayer #playerSongTitle {
  font-size: 1.125rem;
}

.musicPlayer .playlistSongTitle {
  font-size: 0.85rem;
  width: 241px;
  text-align: left;
}

.musicPlayer .playlistSongArtist {
  font-size: 0.725rem;
  width: 80px;
}

.musicPlayer .playlistSongDuration {
  font-size: 0.725rem;
  margin: auto;
  font-family: var(--font-headline);
  width: 30px;
}

.musicPlayer .playlist-song-delete {
  padding: 0;
  width: 20px;
  height: 20px;
}

.musicPlayer .playlist-song-delete,
.musicPlayer .playlist-song-delete {
  fill: var(--foreground-color);
}

.musicPlayer .playlist-song-delete:hover circle,
.musicPlayer .playlist-song-delete:focus circle {
  fill: #ff0000;
}

@media (max-width: 700px) {
  .musicPlayer .player,
  .musicPlayer .playlist {
    width: 300px;
  }

  .musicPlayer .player {
    height: 340px;
  }

  .musicPlayer #playlistSongs {
    height: 280px;
    padding: 5px 6px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: var(--background-color) var(--secondary-color);
    scrollbar-width: thin;
  }

  .musicPlayer #playlistSongs::-webkit-scrollbar {
    width: 5px;
  }

  .musicPlayer #playlistSongs::-webkit-scrollbar-track {
    background: var(--background-color);
  }

  .musicPlayer #playlistSongs::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
  }

  .musicPlayer h1 {
    font-size: 0.813rem;
  }

  .musicPlayer h2 {
    font-size: 0.75rem;
  }

  .musicPlayer .playerBar,
  .musicPlayer .playlistBar,
  .musicPlayer .playerContent,
  .musicPlayer #playlistSongs {
    width: 280px;
  }

  .musicPlayer .playlistSong {
    justify-content: space-between;
  }

  .musicPlayer .playlistSongTitle {
    width: 140px;
  }

  .musicPlayer .playlistSongArtist {
    width: 40px;
  }

  .musicPlayer .playlistSongDuration > button {
    padding: 0;
  }

  .musicPlayer .playerContent {
    display: inline;
    position: relative;
    justify-items: center;
    height: 100%;
  }

  .musicPlayer #playerAlbumArt {
    z-index: -100;
    height: 280px;
    box-shadow: none;
    background: #000;
  }

  .musicPlayer #playerAlbumArt img {
    width: 100%;
    opacity: 0.6;
  }

  .musicPlayer .playerDisplay-song-artist {
    padding: 0 10px;
  }

  .musicPlayer .playerDisplay-song-artist > p {
    white-space: pre-wrap;
  }

  .musicPlayer .playerDisplay {
    position: absolute;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
    top: 0;
    height: 280px;
    justify-content: space-between;
    text-align: center;
  }
}
